@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:wght@300;400&family=Roboto:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

img{
    display: block;
    width: 100%;
    max-height: 600px;
}
.contact{
    background: rgba(206, 163, 85, 0.336);
    margin-top: 3.5rem;
}
.contact h3{
    padding: 2rem 2rem 0 2rem;
    margin-left: 2rem ;
    font-size: 1.6rem;
    font-weight: bold;
}

.contact p{
    padding: 0rem 2rem 2rem 2rem;
    margin-left: 2rem ;
    font-size: 1.3rem;
}
.forms{
    display: flex;
    justify-content: space-evenly;
   
}
.enter{
    flex-basis: 50%;
}
.where{
    flex-basis: 25%;
    
}
.phone{
    flex-basis: 20%;
}
form{
    width: 80%;
    margin: 0 auto;
    margin-left: 2rem;
}
textarea{
    resize: none;
    margin-bottom: 0.5rem;
}
.message{
    background: rgba(57, 4, 83, 0.979) !important;
    color: #fff !important;
    padding: 0.8rem;
    font-size: 1rem;
    text-align: center;
    /* text-transform: uppercase; */
    border: none;
    border-radius: 0.5rem;
    color: black;
    font-weight: 500;
}
.where h3{
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}
.where p{
    margin-left: 1rem;
    margin-right: 1rem;
}
hr{
    outline: 4rem;
}
.phone p{
    margin-top: 2rem;
    margin-left: rem;
    margin-right: 1rem;
    white-space: nowrap;
}
.phone a{
    text-decoration: none;
    color: black;
    margin-left: rem;
    margin-right: 1rem;
}
.phpne span a:hover{
    color: orange;
}
.line{
    margin-top: 2.9rem;
}
form input, textarea{
    background: rgba(128, 128, 128, 0.459) !important;
}
::placeholder{
    color:  !important;
}
@media screen and (max-width: 960px) {
    .forms{
        flex-direction: column;
    }
    .enter{
        flex-basis: 100%;
    }
    .where{
        flex-basis: 100%;
    }
    .phone{
        flex-basis: 100%;
    }
    .contact h3{
        padding: 2.5rem 2rem 0 0;
        margin-left: 2rem ;
        font-size: 1rem;
        font-weight: bold;
    }
    
    .contact p{
        padding: 0rem 2rem 2rem 0;
        margin-left: 2rem ;
        font-size: 0.9rem;
        overflow: hidden;
        font-weight: 500;
        color: black;
    }
    .contact{
        background: rgba(206, 163, 85, 0.336);
        margin-top: 2rem;
        overflow: hidden;
        width: ;
    }
    form{
        width:350px ;
        margin: 0 auto;
        margin-top: 3rem;
    }
     .label{
        margin-top: 3rem;
    }
    label{
        
        font-size: 1rem;
    } 
    .phone p{
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 1rem;
        white-space: nowrap;
    }
    .message{
        background: rgba(255, 166, 0, 0.74);
        padding: 0.5rem;
        font-size: 0.9rem;
        text-align: center;
        border: none;
        border-radius: 0.5rem;
        color: black;
        font-weight: 100;
    }
    .where h3{
        margin-top: 1rem;
        margin-left: 1rem;
        font-size: 1rem;
        font-weight: bold;
    }
    .where p{
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 0.9rem;
    }
    .phone p{
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        white-space: nowrap;
        font-size: 0.9rem;
    }
    .phone a{
        text-decoration: none;
        color: black;
        margin-left: rem;
        margin-right: 1rem;
        font-size: 0.9rem;
    }
}


  